<h3><i class='fa-solid fa-heart fa-beat'></i> Motivational Quotes</h3>
<div class='section'>
	<p class='lead'>Add public and private Quotes to your acount</p>
</div>
<div class='divider'></div>
<div class='section'>
	<a href='/auth/google' class='btn blue accent-3'>
		<i class='fab fa-google'></i>
		Log in with Google
	</a>
</div>